node_modules/
.pnpm-store/
dist/
build/
.next/
out/
.env
.env.local
.DS_Store

# Foundry
contracts/cache/
contracts/out/
contracts/broadcast/
contracts/lib/**
!contracts/lib/.gitkeep

# Docker
.volumes/
